
PCBs and other pcb stuff/dont tell mom pls.png
*.bak
Backend/test.py
Code/Backend/TwitterPub.py
Code\Samples and redundant stuff\WeatherStation_Home-Unit_EINK
Code/WeatherStation_Home_E-INK/.vscode/settings.json
Code/WeatherStation_Home_E-INK/components/epd_driver/board_specific.c
Code/WeatherStation_Home_E-INK/components/epd_driver/builtin_waveforms.c
Code/WeatherStation_Home_E-INK/components/epd_driver/CMakeLists.txt
Code/WeatherStation_Home_E-INK/components/epd_driver/config_reg_v2.h
Code/WeatherStation_Home_E-INK/components/epd_driver/config_reg_v4.h
Code/WeatherStation_Home_E-INK/components/epd_driver/config_reg_v6.h
Code/WeatherStation_Home_E-INK/components/epd_driver/display_ops.c
Code/WeatherStation_Home_E-INK/components/epd_driver/display_ops.h
Code/WeatherStation_Home_E-INK/components/epd_driver/epd_driver.c
Code/WeatherStation_Home_E-INK/components/epd_driver/epd_temperature.c
Code/WeatherStation_Home_E-INK/components/epd_driver/epd_temperature.h
Code/WeatherStation_Home_E-INK/components/epd_driver/font.c
Code/WeatherStation_Home_E-INK/components/epd_driver/hacks.cmake
Code/WeatherStation_Home_E-INK/components/epd_driver/highlevel.c
Code/WeatherStation_Home_E-INK/components/epd_driver/i2s_data_bus.c
Code/WeatherStation_Home_E-INK/components/epd_driver/i2s_data_bus.h
Code/WeatherStation_Home_E-INK/components/epd_driver/include/epd_board_specific.h
Code/WeatherStation_Home_E-INK/components/epd_driver/include/epd_driver.h
Code/WeatherStation_Home_E-INK/components/epd_driver/include/epd_highlevel.h
Code/WeatherStation_Home_E-INK/components/epd_driver/include/epd_internals.h
Code/WeatherStation_Home_E-INK/components/epd_driver/Kconfig
Code/WeatherStation_Home_E-INK/components/epd_driver/LICENSE
Code/WeatherStation_Home_E-INK/components/epd_driver/lut.c
Code/WeatherStation_Home_E-INK/components/epd_driver/lut.h
Code/WeatherStation_Home_E-INK/components/epd_driver/Makefile
Code/WeatherStation_Home_E-INK/components/epd_driver/pca9555.c
Code/WeatherStation_Home_E-INK/components/epd_driver/pca9555.h
Code/WeatherStation_Home_E-INK/components/epd_driver/render.c
Code/WeatherStation_Home_E-INK/components/epd_driver/rmt_pulse.c
Code/WeatherStation_Home_E-INK/components/epd_driver/rmt_pulse.h
Code/WeatherStation_Home_E-INK/components/epd_driver/tps65185.c
Code/WeatherStation_Home_E-INK/components/epd_driver/tps65185.h
Code/WeatherStation_Home_E-INK/components/epd_driver/waveforms/epdiy_ED047TC1.h
Code/WeatherStation_Home_E-INK/components/epd_driver/waveforms/epdiy_ED060SC4.h
Code/WeatherStation_Home_E-INK/components/epd_driver/waveforms/epdiy_ED060SCT.h
Code/WeatherStation_Home_E-INK/components/epd_driver/waveforms/epdiy_ED060XC3.h
Code/WeatherStation_Home_E-INK/components/epd_driver/waveforms/epdiy_ED097OC4.h
Code/WeatherStation_Home_E-INK/components/epd_driver/waveforms/epdiy_ED097TC2.h
Code/WeatherStation_Home_E-INK/components/epd_driver/waveforms/epdiy_ED133UT2.h
Code/WeatherStation_Home_E-INK/epdiy/
Code/Backend/InfluxDB_API_internal_request.txt
Documentation/Main_Board_Traces.BMP
E18-UCP-Sou-Basler Michal-Meteostanice/
E18-UCP-Sou-Basler Michal-Meteostanice.zip
